{% extends "base.html.jinja" %}
{% block body %}
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Images</h2>
            <p>These are some of the images we currently know about.</p>
            {% if next_token %}
            <h3><a href="{{ base_path }}/images/{{ next_token }}">[Next block of images.]</a></h3>
            {% endif %}
        </header>
        {% if images %}
        <ul>
          {% for image in images %}
          <li><a href="{{ base_path }}/image/{{ image.image_name }}">{{ image.image_name }} : <image src="{{ image._temp_url }}" alt="{{ image.image_name }}" width="100" height="100"/></a> <a href="{{ image._temp_url }}">[download]</a></li>
          {% endfor %}
        </ul>
        {% endif %}
    </div>
</section>
{% endblock %}
