{% extends "base.html.jinja" %}

{% block body %}
<section id="three" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>{{ message_title }}</h2>
        </header>
        {{ message_html }}
    </div>
</section>
{% endblock %}
